# Given a decimal integer number, write a function which converts this number into its binary form. Use iteration to solve this problem. E.g., myIntNumber=5 result should be 0101.

In [1]:
#List of numbers
n = [3, 6, 7, 8, 5, 9, 11, 56]

In [2]:
def tobinary1(n):
    binary = []
    
    while(n > 0):
        binary.append(n%2)
        n = n // 2
        
    #Just to make sure that all binary digits are of same length
    if len(binary) < 5:
        for i in range(len(binary), 5):
            binary.append(0)
    
    binary.reverse()
    
    
    return binary

In [3]:
num = 4
b = tobinary1(num)
print(b)

[0, 0, 1, 0, 0]

In [4]:
for number in n:
    b = tobinary1(number)
    #Converting into a string element
    string = ' '.join([str(elem) for elem in b])
    print(number, "-->", string)

#Since 56 is greater than 2^5 = 32, it requires more binary digits to be represented

3 --> 0 0 0 1 1
6 --> 0 0 1 1 0
7 --> 0 0 1 1 1
8 --> 0 1 0 0 0
5 --> 0 0 1 0 1
9 --> 0 1 0 0 1
11 --> 0 1 0 1 1
56 --> 1 1 1 0 0 0

# Given an array representing binary form of a decimal integer number. Convert this into corresponding decimal number, e.g., [1,0,0,1] to 9.

In [5]:
def todecimal1(b):
    b.reverse()
    dec = 0
    for i in range(len(b)):
        dec += b[i] * (2 ** i)
    
    return dec

In [6]:
#Checking for binary to decimal
for number in n:
    b = tobinary1(number)
    dec = todecimal1(b)
    print(dec)

3
6
7
8
5
9
11
56

In [7]:
b = [1, 0, 0, 1]
print(todecimal1(b))

9

# We have a dictionary. Key of this dictionary is medicine name and values is expiry date. Write a function which takes this dictionary as an input and print a list of all those medicine which has expired.
myMedDict={
  "Abelcet":"Aug 1 2016",
"Azithromycin":"Dec 24 2016",
"Arava":"Jan 1 2019",
"Arixtra":"May 31 2022",
"Aplenzin":"Jan 3 2020",
"Antizol":"Aug 31 2023",
"Anadrol-50":"Nov 14 2010"
}

In [8]:
myMedDict={
  "Abelcet":"Aug 1 2016",
"Azithromycin":"Dec 24 2016",
"Arava":"Jan 1 2019",
"Arixtra":"May 31 2022",
"Aplenzin":"Jan 3 2020",
"Antizol":"Aug 31 2023",
"Anadrol-50":"Nov 14 2010"
}

print(myMedDict)

{'Abelcet': 'Aug 1 2016', 'Azithromycin': 'Dec 24 2016', 'Arava': 'Jan 1 2019', 'Arixtra': 'May 31 2022', 'Aplenzin': 'Jan 3 2020', 'Antizol': 'Aug 31 2023', 'Anadrol-50': 'Nov 14 2010'}

In [9]:
from datetime import date, timedelta, datetime
today = date.today()
#changing format to meet dictionary format

Today = today.strftime("%b %d %Y")
print("Today's date = ", Today)

Today's date =  Jan 22 2021

In [10]:
def Get_expired_list(myMedDict, Today):
    #Converting into date time object
    date1 = datetime.strptime(Today, '%b %d %Y')
    expired = []
    
    for med, date in myMedDict.items(): 
        #Converting into date time object
        date2 = datetime.strptime(date, '%b %d %Y')
        
        #Getting the difference in number of days
        td = date1 - date2
        #Converting into float value
        days = td / timedelta(days=1)
        
        if days > 0.0:
            expired.append(med)
    
    return expired

In [11]:
e = Get_expired_list(myMedDict, Today)
print("List of expired medicines as of Today: \n", e)

List of expired medicines as of Today:
 ['Abelcet', 'Azithromycin', 'Arava', 'Aplenzin', 'Anadrol-50']

# Write a recursive algorithm to convert a decimal integer number into its binary form, e.g., myInt=9 to 1001.

In [12]:
def tobinary2(binary, n):
    
    if n > 0:
        #Recursively calling the function
        binary = tobinary2(binary, n//2)
    
    binary.append(n%2)
    #No need to reverse the list because the list is being appended from last element to first element.
    return binary

In [13]:
binary = []
b = tobinary2(binary, 21)
print(b)

[0, 1, 0, 1, 0, 1]

In [14]:
for number in n:
    binary = []
    b = tobinary2(binary, number)
    #Converting into a string element
    string = ' '.join([str(elem) for elem in b])
    print(number, "-->", string)

3 --> 0 1 1
6 --> 0 1 1 0
7 --> 0 1 1 1
8 --> 0 1 0 0 0
5 --> 0 1 0 1
9 --> 0 1 0 0 1
11 --> 0 1 0 1 1
56 --> 0 1 1 1 0 0 0

# You have been given a file "crimeData.csv", containing address and number of times a crime has happened at that address. Your task is to write a function which takes a crime name as an input and calculates the mean of that crime, i.e., average number of times that crime has happened at addresses. The function should return all the address (may be in a list) where this crime has occurred more than the mean number of times.

In [15]:
import pandas as pd

In [16]:
#Loading the file into a dataframe
df1 = pd.read_csv('crimeData.csv')
df1.head()

,Address,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
0,OAK ST / LAGUNA ST,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,1,4,3,0
1,VANNESS AV / GREENWICH ST,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,1500 Block of LOMBARD ST,0,8,0,0,19,0,0,5,0,...,0,0,0,4,0,3,6,5,3,0
3,100 Block of BRODERICK ST,0,2,1,0,9,0,0,0,0,...,0,0,0,3,0,0,5,5,0,1
4,0 Block of TEDDY AV,0,9,0,0,2,0,0,2,0,...,0,0,1,2,0,2,4,10,1,1

In [17]:
#Getting the names of all the columns, hence all the crimes, except the column Address
crimes = df1.columns[1:]
print(crimes)

Index(['ARSON', 'ASSAULT', 'BAD CHECKS', 'BRIBERY', 'BURGLARY',
       'DISORDERLY CONDUCT', 'DRIVING UNDER THE INFLUENCE', 'DRUG/NARCOTIC',
       'DRUNKENNESS', 'EMBEZZLEMENT', 'EXTORTION', 'FAMILY OFFENSES',
       'FORGERY/COUNTERFEITING', 'FRAUD', 'GAMBLING', 'KIDNAPPING',
       'LARCENY/THEFT', 'LIQUOR LAWS', 'LOITERING', 'MISSING PERSON',
       'NON-CRIMINAL', 'OTHER OFFENSES', 'PORNOGRAPHY/OBSCENE MAT',
       'PROSTITUTION', 'RECOVERED VEHICLE', 'ROBBERY', 'RUNAWAY',
       'SECONDARY CODES', 'SEX OFFENSES FORCIBLE', 'SEX OFFENSES NON FORCIBLE',
       'STOLEN PROPERTY', 'SUICIDE', 'SUSPICIOUS OCC', 'TREA', 'TRESPASS',
       'VANDALISM', 'VEHICLE THEFT', 'WARRANTS', 'WEAPON LAWS'],
      dtype='object')

In [18]:
def average(crime, df):
    
    avg = df[crime].mean()
    
    Addr_list = df[df[crime] > avg]['Address']
    
    return Addr_list

In [19]:
All_address_list = []

for crime in crimes:
    addr = average(crime, df1)
    print("Crime: ", crime)
    print("\nList of addresses: \n", addr)
    print("-----------------------------------------------------------")
    All_address_list.append(addr)

Crime:  ARSON

List of addresses:
 16               MENDELL ST / HUDSON AV
23              500 Block of COLLEGE AV
27               400 Block of CASTRO ST
35               700 Block of MARKET ST
45                    0 Block of 3RD ST
                      ...
22336      2100 Block of NORTH POINT ST
22410        2100 Block of MC KINNON AV
22835          2100 Block of NEWCOMB AV
22846         0 Block of THOMAS MORE WY
22971    0 Block of HUNTERS PT EXPWY EX
Name: Address, Length: 1105, dtype: object
-----------------------------------------------------------
Crime:  ASSAULT

List of addresses:
 2              1500 Block of LOMBARD ST
4                   0 Block of TEDDY AV
10                   TURK ST / JONES ST
11               FILLMORE ST / GEARY BL
12             200 Block of WILLIAMS AV
                      ...
22037        1600 Block of MC KINNON AV
22054    100 Block of NEW MONTGOMERY ST
22081         500 Block of JOHN MUIR DR
22115          800 Block of VAN NESS AV
22298         300 Block of LA GRANDE AV
Name: Address, Length: 4161, dtype: object
-----------------------------------------------------------
Crime:  BAD CHECKS

List of addresses:
 3             100 Block of BRODERICK ST
27               400 Block of CASTRO ST
28            1500 Block of FILLMORE ST
35               700 Block of MARKET ST
38             300 Block of WILLIAMS AV
                      ...
21868          400 Block of VAN NESS AV
22054    100 Block of NEW MONTGOMERY ST
22220       900 Block of NORTH POINT ST
22330         1800 Block of VAN NESS AV
22364           400 Block of DE HARO ST
Name: Address, Length: 319, dtype: object
-----------------------------------------------------------
Crime:  BRIBERY

List of addresses:
 11         FILLMORE ST / GEARY BL
23        500 Block of COLLEGE AV
57           400 Block of HYDE ST
63       1900 Block of MISSION ST
76           400 Block of EDDY ST
                   ...
17806     1400 Block of LAWTON ST
18284       25TH AV / CABRILLO ST
19143       100 Block of QUANE ST
19793     300 Block of SANJUAN AV
20947     200 Block of MOFFITT ST
Name: Address, Length: 254, dtype: object
-----------------------------------------------------------
Crime:  BURGLARY

List of addresses:
 2                     1500 Block of LOMBARD ST
3                    100 Block of BRODERICK ST
4                          0 Block of TEDDY AV
7                         600 Block of 47TH AV
12                    200 Block of WILLIAMS AV
                         ...
22327                1600 Block of VAN NESS AV
22364                  400 Block of DE HARO ST
22388    400 Block of THE EMBARCADERO SOUTH ST
22465                1000 Block of LE CONTE AV
22584            1200 Block of RHODE ISLAND ST
Name: Address, Length: 5278, dtype: object
-----------------------------------------------------------
Crime:  DISORDERLY CONDUCT

List of addresses:
 8        JEFFERSON ST / LEAVENWORTH ST
17               100 Block of JONES ST
21            300 Block of OFARRELL ST
23             500 Block of COLLEGE AV
26            1300 Block of WEBSTER ST
                     ...
22410       2100 Block of MC KINNON AV
22418           VAN NESS AV / GEARY ST
22434       2000 Block of MC KINNON AV
22538           VAN NESS AV / CEDAR ST
22743       0 Block of RUSSIAN HILL PL
Name: Address, Length: 1723, dtype: object
-----------------------------------------------------------
Crime:  DRIVING UNDER THE INFLUENCE

List of addresses:
 10                     TURK ST / JONES ST
12               200 Block of WILLIAMS AV
14                     EDDY ST / JONES ST
20               FILLMORE ST / LOMBARD ST
21               300 Block of OFARRELL ST
                       ...
22051          PARK PRESIDIO BL / LAKE ST
22110    300 Block of TERRY A FRANCOIS BL
22338              CLAYTON ST / CARMEL ST
22414              VAN NESS AV / GROVE ST
22580           1100 Block of SAN JOSE AV
Name: Address, Length: 1674, dtype: object
-----------------------------------------------------------
Crime:  DRUG/NARCOTIC

List of addresses:
 2              1500 Block of LOMBARD ST
10                   TURK ST / JONES ST
12             200 Block of WILLIAMS AV
14                   EDDY ST / JONES ST
17                100 Block of JONES ST
                      ...
22134    100 Block of JOHN F KENNEDY DR
22274              OAK ST / VAN NESS AV
22327         1600 Block of VAN NESS AV
22437           18TH ST / SAN CARLOS ST
22527            MC KINNON AV / LANE ST
Name: Address, Length: 2522, dtype: object
-----------------------------------------------------------
Crime:  DRUNKENNESS

List of addresses:
 11           FILLMORE ST / GEARY BL
12         200 Block of WILLIAMS AV
14               EDDY ST / JONES ST
17            100 Block of JONES ST
20         FILLMORE ST / LOMBARD ST
                    ...
22142          IVY ST / VAN NESS AV
22392      LOMBARD ST / VAN NESS AV
22412    UPPER GREAT HY / BALBOA ST
22596     NORTH POINT ST / MASON ST
22917     LOWER GREAT HY / JUDAH ST
Name: Address, Length: 1944, dtype: object
-----------------------------------------------------------
Crime:  EMBEZZLEMENT

List of addresses:
 21                    300 Block of OFARRELL ST
26                    1300 Block of WEBSTER ST
27                      400 Block of CASTRO ST
35                      700 Block of MARKET ST
37                      0 Block of STOCKTON ST
                         ...
21912               300 Block of LOS PALMOS DR
21992              100 Block of WEST PORTAL AV
22086            1000 Block of RHODE ISLAND ST
22495    600 Block of THE EMBARCADERO NORTH ST
22541               0 Block of RHODE ISLAND ST
Name: Address, Length: 738, dtype: object
-----------------------------------------------------------
Crime:  EXTORTION

List of addresses:
 12         200 Block of WILLIAMS AV
82                0 Block of 6TH ST
87          1200 Block of MARKET ST
91            700 Block of GEARY ST
113        4600 Block of MISSION ST
                    ...
18505         DORE ST / HARRISON ST
18933     200 Block of LOUISBURG ST
19194       1100 Block of WAWONA ST
19304          39TH AV / NORIEGA ST
19356    900 Block of SADDLEBACK DR
Name: Address, Length: 222, dtype: object
-----------------------------------------------------------
Crime:  FAMILY OFFENSES

List of addresses:
 10                           TURK ST / JONES ST
17                        100 Block of JONES ST
22                        2000 Block of BUSH ST
27                       400 Block of CASTRO ST
37                       0 Block of STOCKTON ST
                          ...
21902    1700 Block of THE EMBARCADERO NORTH ST
22009             100 Block of WHITNEY YOUNG CR
22055                0 Block of SANTA MARINA ST
22134            100 Block of JOHN F KENNEDY DR
23205                 HOLLY PARK CR / NEWMAN ST
Name: Address, Length: 317, dtype: object
-----------------------------------------------------------
Crime:  FORGERY/COUNTERFEITING

List of addresses:
 2                 1500 Block of LOMBARD ST
4                      0 Block of TEDDY AV
9                    0 Block of ESCOLTA WY
10                      TURK ST / JONES ST
11                  FILLMORE ST / GEARY BL
                       ...
22446            JUDAH ST / LOWER GREAT HY
22585            100 Block of GOLD MINE DR
22695       700 Block of EL CAMINO DEL MAR
22913            0 Block of HENRY ADAMS ST
23061    BUENA VISTA EAST AV / PARKHILL AV
Name: Address, Length: 3983, dtype: object
-----------------------------------------------------------
Crime:  FRAUD

List of addresses:
 2             1500 Block of LOMBARD ST
3            100 Block of BRODERICK ST
4                  0 Block of TEDDY AV
7                 600 Block of 47TH AV
9                0 Block of ESCOLTA WY
                     ...
22647            FOLSOM ST / JARBOE AV
22652    1300 Block of RHODE ISLAND ST
22853      0 Block of SANTA BARBARA AV
22885        ROSIE LEE LN / INGALLS ST
23202     1400 Block of LOWER GREAT HY
Name: Address, Length: 5788, dtype: object
-----------------------------------------------------------
Crime:  GAMBLING

List of addresses:
 37          0 Block of STOCKTON ST
52           0 Block of SANSOME ST
82               0 Block of 6TH ST
124         800 Block of BRYANT ST
155         800 Block of FOLSOM ST
                   ...
14201     0 Block of STONEYFORD AV
14541       0 Block of PASADENA ST
15757         100 Block of ROSE ST
17936      2600 Block of PHELPS ST
22062    1600 Block of LA SALLE AV
Name: Address, Length: 102, dtype: object
-----------------------------------------------------------
Crime:  KIDNAPPING

List of addresses:
 2              1500 Block of LOMBARD ST
4                   0 Block of TEDDY AV
12             200 Block of WILLIAMS AV
14                   EDDY ST / JONES ST
17                100 Block of JONES ST
                      ...
21880        NORTH POINT ST / POWELL ST
22016             VAN NESS AV / BUSH ST
22192    700 Block of JOHN F KENNEDY DR
22360       LOWER GREAT HY / LINCOLN WY
22376        ANZA ST / PARK PRESIDIO BL
Name: Address, Length: 1509, dtype: object
-----------------------------------------------------------
Crime:  LARCENY/THEFT

List of addresses:
 0                            OAK ST / LAGUNA ST
1                     VANNESS AV / GREENWICH ST
2                      1500 Block of LOMBARD ST
3                     100 Block of BRODERICK ST
4                           0 Block of TEDDY AV
                          ...
22081                 500 Block of JOHN MUIR DR
22088    HARRISON ST / THE EMBARCADERO SOUTH ST
22143          5100 Block of DIAMOND HEIGHTS BL
22220               900 Block of NORTH POINT ST
22245                     PINE ST / VAN NESS AV
Name: Address, Length: 4556, dtype: object
-----------------------------------------------------------
Crime:  LIQUOR LAWS

List of addresses:
 10                          TURK ST / JONES ST
11                      FILLMORE ST / GEARY BL
14                          EDDY ST / JONES ST
17                       100 Block of JONES ST
21                    300 Block of OFARRELL ST
                         ...
21880               NORTH POINT ST / POWELL ST
21976        300 Block of CHRISTMAS TREE PT RD
21999           SOUTH PARK AV / JACK LONDON AL
22042    700 Block of THE EMBARCADERO SOUTH ST
22061                0 Block of NORTH POINT ST
Name: Address, Length: 979, dtype: object
-----------------------------------------------------------
Crime:  LOITERING

List of addresses:
 21        300 Block of OFARRELL ST
35          700 Block of MARKET ST
48             MISSION ST / 2ND ST
49           GEARY ST / VANNESS AV
54            0 Block of MARKET ST
                   ...
21859        MC KINNON AV / 3RD ST
21903     VAN NESS AV / LOMBARD ST
22155        BUSH ST / VAN NESS AV
22298    300 Block of LA GRANDE AV
22437      18TH ST / SAN CARLOS ST
Name: Address, Length: 482, dtype: object
-----------------------------------------------------------
Crime:  MISSING PERSON

List of addresses:
 2                    1500 Block of LOMBARD ST
3                   100 Block of BRODERICK ST
9                       0 Block of ESCOLTA WY
10                         TURK ST / JONES ST
11                     FILLMORE ST / GEARY BL
                         ...
22216             500 Block of NORTH POINT ST
22298               300 Block of LA GRANDE AV
22358             700 Block of UPPER GREAT HY
22644    OFARRELL ST / CYRIL MAGNIN STORTH ST
22649             300 Block of POINT LOBOS AV
Name: Address, Length: 2923, dtype: object
-----------------------------------------------------------
Crime:  NON-CRIMINAL

List of addresses:
 2             1500 Block of LOMBARD ST
3            100 Block of BRODERICK ST
4                  0 Block of TEDDY AV
8        JEFFERSON ST / LEAVENWORTH ST
10                  TURK ST / JONES ST
                     ...
22089    MARKET ST / NEW MONTGOMERY ST
22199         0 Block of SOUTH PARK AV
22220      900 Block of NORTH POINT ST
22229      400 Block of NORTH POINT ST
22330        1800 Block of VAN NESS AV
Name: Address, Length: 4930, dtype: object
-----------------------------------------------------------
Crime:  OTHER OFFENSES

List of addresses:
 0               OAK ST / LAGUNA ST
1        VANNESS AV / GREENWICH ST
2         1500 Block of LOMBARD ST
4              0 Block of TEDDY AV
10              TURK ST / JONES ST
                   ...
22155        BUSH ST / VAN NESS AV
22161      VAN NESS AV / SUTTER ST
22175         16TH ST / DE HARO ST
22279    300 Block of MT VERNON AV
22887     NEWCOMB AV / LA SALLE AV
Name: Address, Length: 4541, dtype: object
-----------------------------------------------------------
Crime:  PORNOGRAPHY/OBSCENE MAT

List of addresses:
 104        1100 Block of FILLMORE ST
124           800 Block of BRYANT ST
391            2300 Block of 16TH ST
500         1000 Block of POTRERO AV
581          1300 Block of THOMAS AV
1115              MARKET ST / 5TH ST
1244            200 Block of HYDE ST
1587           2300 Block of 24TH AV
1633     GOLDEN GATE AV / VANNESS AV
2250             PINE ST / LARKIN ST
3048          400 Block of FULTON ST
3636         300 Block of SERRANO DR
4300            0 Block of HALLAM ST
4532         1400 Block of FOLSOM ST
4600            700 Block of BUSH ST
5157             0 Block of BLAKE ST
6881        900 Block of ILLINOIS ST
7208     1600 Block of CALIFORNIA ST
7522           2000 Block of 10TH AV
7952           100 Block of OLIVE ST
12608             18TH ST / TREAT AV
17483          2900 Block of 23RD AV
Name: Address, dtype: object
-----------------------------------------------------------
Crime:  PROSTITUTION

List of addresses:
 2         1500 Block of LOMBARD ST
12        200 Block of WILLIAMS AV
21        300 Block of OFARRELL ST
28       1500 Block of FILLMORE ST
35          700 Block of MARKET ST
                   ...
22016        VAN NESS AV / BUSH ST
22072      AUSTIN ST / VAN NESS AV
22155        BUSH ST / VAN NESS AV
22161      VAN NESS AV / SUTTER ST
22696    25TH ST / RHODE ISLAND ST
Name: Address, Length: 736, dtype: object
-----------------------------------------------------------
Crime:  RECOVERED VEHICLE

List of addresses:
 4              0 Block of TEDDY AV
6         KIRKWOOD AV / DONAHUE ST
12        200 Block of WILLIAMS AV
13           0 Block of MENDELL ST
17           100 Block of JONES ST
                   ...
20984     300 Block of ILLINOIS ST
21208     2700 Block of LINCOLN WY
21246        0 Block of VALLEJO ST
21268     2400 Block of PACHECO ST
21350    2600 Block of GRIFFITH ST
Name: Address, Length: 2237, dtype: object
-----------------------------------------------------------
Crime:  ROBBERY

List of addresses:
 2             1500 Block of LOMBARD ST
3            100 Block of BRODERICK ST
4                  0 Block of TEDDY AV
10                  TURK ST / JONES ST
11              FILLMORE ST / GEARY BL
                     ...
22802       SILVER AV / CHARTER OAK AV
22820         MC KINNON AV / PHELPS ST
22859    CLEMENT ST / PARK PRESIDIO BL
22917        LOWER GREAT HY / JUDAH ST
22988             DE HARO ST / 24TH ST
Name: Address, Length: 7197, dtype: object
-----------------------------------------------------------
Crime:  RUNAWAY

List of addresses:
 29         1600 Block of WEBSTER ST
63         1900 Block of MISSION ST
80        SAN BRUNO AV / BURROWS ST
82                0 Block of 6TH ST
88            400 Block of GREEN ST
                    ...
19325         1700 Block of ANZA ST
19513         1800 Block of 36TH AV
21763             200 Block of I-80
21776    1700 Block of MC KINNON AV
22279     300 Block of MT VERNON AV
Name: Address, Length: 549, dtype: object
-----------------------------------------------------------
Crime:  SECONDARY CODES

List of addresses:
 2             1500 Block of LOMBARD ST
4                  0 Block of TEDDY AV
10                  TURK ST / JONES ST
11              FILLMORE ST / GEARY BL
12            200 Block of WILLIAMS AV
                     ...
22515          20TH ST / SAN CARLOS ST
22542          100 Block of DE SOTO ST
22711         300 Block of OAK PARK DR
22859    CLEMENT ST / PARK PRESIDIO BL
22913        0 Block of HENRY ADAMS ST
Name: Address, Length: 4244, dtype: object
-----------------------------------------------------------
Crime:  SEX OFFENSES FORCIBLE

List of addresses:
 2            1500 Block of LOMBARD ST
3           100 Block of BRODERICK ST
10                 TURK ST / JONES ST
11             FILLMORE ST / GEARY BL
12           200 Block of WILLIAMS AV
                     ...
22220     900 Block of NORTH POINT ST
22349       2600 Block of VAN NESS AV
22376      ANZA ST / PARK PRESIDIO BL
22741    0 Block of JOHN F SHELLEY DR
23157             MORAGA ST / 37TH AV
Name: Address, Length: 2196, dtype: object
-----------------------------------------------------------
Crime:  SEX OFFENSES NON FORCIBLE

List of addresses:
 22                2000 Block of BUSH ST
92         500 Block of JOHNFKENNEDY DR
108          500 Block of NORTHPOINT ST
124              800 Block of BRYANT ST
143             900 Block of POTRERO AV
                      ...
15735             0 Block of ACEVEDO AV
16272           2300 Block of BALBOA ST
16837             3400 Block of 19TH AV
21762    500 Block of JOHN F KENNEDY DR
22234          800 Block of LE CONTE AV
Name: Address, Length: 130, dtype: object
-----------------------------------------------------------
Crime:  STOLEN PROPERTY

List of addresses:
 10                  TURK ST / JONES ST
12            200 Block of WILLIAMS AV
17               100 Block of JONES ST
21            300 Block of OFARRELL ST
22               2000 Block of BUSH ST
                     ...
22349        2600 Block of VAN NESS AV
22374           LARCH ST / VAN NESS AV
22447     1900 Block of UPPER GREAT HY
22729    NEW MONTGOMERY ST / NATOMA ST
22764              CONGO ST / FLOOD AV
Name: Address, Length: 2583, dtype: object
-----------------------------------------------------------
Crime:  SUICIDE

List of addresses:
 4                           0 Block of TEDDY AV
12                     200 Block of WILLIAMS AV
21                     300 Block of OFARRELL ST
27                       400 Block of CASTRO ST
39                  800 Block of LEAVENWORTH ST
                          ...
20534                  100 Block of GGBRIDGE HY
21642                  600 Block of DELANCEY ST
21763                         200 Block of I-80
21769    1600 Block of THE EMBARCADERO NORTH ST
22006                 100 Block of GG BRIDGE HY
Name: Address, Length: 393, dtype: object
-----------------------------------------------------------
Crime:  SUSPICIOUS OCC

List of addresses:
 2                1500 Block of LOMBARD ST
3               100 Block of BRODERICK ST
4                     0 Block of TEDDY AV
8           JEFFERSON ST / LEAVENWORTH ST
10                     TURK ST / JONES ST
                       ...
22158       200 Block of SAINT CHARLES AV
22220         900 Block of NORTH POINT ST
22298           300 Block of LA GRANDE AV
22327           1600 Block of VAN NESS AV
22552    5400 Block of DIAMOND HEIGHTS BL
Name: Address, Length: 4835, dtype: object
-----------------------------------------------------------
Crime:  TREA

List of addresses:
 427          500 Block of CASTRO ST
513            700 Block of POLK ST
578       2300 Block of STOCKTON ST
2180           300 Block of 20TH ST
17075    1300 Block of ARMSTRONG AV
19146         1000 Block of IOWA ST
Name: Address, dtype: object
-----------------------------------------------------------
Crime:  TRESPASS

List of addresses:
 2             1500 Block of LOMBARD ST
4                  0 Block of TEDDY AV
9                0 Block of ESCOLTA WY
12            200 Block of WILLIAMS AV
17               100 Block of JONES ST
                     ...
22298        300 Block of LA GRANDE AV
22434       2000 Block of MC KINNON AV

# You have been given a file "timeData2.csv". This file contains date along with the time at which crimes has happened. Your task is to write a function which takes a time interval and tells you which category of crime has occurred the most in that time interval. The time interval can be taken as two separate parameter fromTime and toTime .

In [20]:
#Loading the file into a dataframe
df2 = pd.read_csv('timeData2.csv')
df2.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,catogery
0,5/13/2015 8:55,VEHICLE THEFT,STOLEN MOTORCYCLE,Wednesday,TARAVAL,NONE,1700 Block of 11TH AV,-122.467797,37.755541,officeTime
1,5/13/2015 8:41,OTHER OFFENSES,"FRAUDULENT GAME OR TRICK, OBTAINING MONEY OR P...",Wednesday,CENTRAL,NONE,1100 Block of BUSH ST,-122.416199,37.789159,officeTime
2,5/13/2015 8:36,OTHER OFFENSES,TRAFFIC VIOLATION,Wednesday,NORTHERN,"ARREST, BOOKED",BROADWAY ST / VANNESS AV,-122.423413,37.795737,officeTime
3,5/13/2015 8:30,NON-CRIMINAL,LOST PROPERTY,Wednesday,NORTHERN,NONE,VANNESS AV / ELLIS ST,-122.421012,37.783823,officeTime
4,5/13/2015 8:17,OTHER OFFENSES,HARASSING PHONE CALLS,Wednesday,CENTRAL,NONE,1100 Block of CALIFORNIA ST,-122.413289,37.791466,officeTime

In [21]:
#Converting the dates coulmn into datetime format
df2['Dates'] = pd.to_datetime(df2.Dates, format='%m/%d/%Y %H:%M')

In [22]:
#Setting a time interval
fromTime = datetime.strptime('12:00', '%H:%M').time()
toTime = datetime.strptime('22:00', '%H:%M').time()

In [23]:
def Get_max_crime_category(fromTime, toTime):
    #Getting a list of Crimes committed in the given time interval
    #Assuming global dataframe
    Crimes = df2[df2.Dates.dt.time.between(fromTime, toTime)]['Category']
    
    counts = {}
    #Getting the crimes as keys
    for c in Crimes:
        if c not in counts:
            counts[c] = 0
        counts[c] += 1
        
    if not bool(counts):
        #In case no crime occur in the given interval
        crime = "None"
    else:
        crime = max(counts, key=counts.get)
    
    return crime

In [24]:
max_crime = Get_max_crime_category(fromTime, toTime)

print("Crime that occured most in the time interval: ", fromTime, " to ", toTime, "is: ", max_crime)

Crime that occured most in the time interval:  12:00:00  to  22:00:00 is:  LARCENY/THEFT