## Create a list and 1 dimensional ndarray with identical elements and show that slicing in both is the same. 

## Choose 3 TV Series and create 2 ndarrays as follows: 

1. The first ndarray called artists contains name of 12 actors/actresses from those three TV series.
2. The second ndarray called shows contains name of the TV series that each actor/actress played in.
3. Calculate the boolean indexing for one of the TV series in the second ndarray.
4. Using the boolean indexing from previous step, select the actors/actresses that played in that TV show and put it in a new ndarray called selected_show. 
5. Save all of the three ndarrays from the previous steps to disk 
6. Reload the saved file and load the three ndarrays to three new variables called artists_new, shows_new and selected_show_new.

In [1]:
import numpy as np

In [2]:
List = [1, 4, 8, 9, 7, 3, 2]
Array = np.array([1, 4, 8, 9, 7, 3, 2])

print("Array is of type: ", type(Array))
print("List is of type: ", type(List))

Array is of type:  <class 'numpy.ndarray'>
List is of type:  <class 'list'>

In [3]:
#Slicing the array
Arr = Array[2:5]
print("Sliced Array: ", Arr)

Li = List[2:5]
print("Sliced List: ", Li)

#They both work in the same way!

Sliced Array:  [8 9 7]
Sliced List:  [8, 9, 7]

In [4]:
#3 Tvseries chosen are: New Girl, One day at a time, and Unbreakable Kimmy Schmidt

artists = np.array(['Zooey Claire Deschanel', 'Justina Machado', 'Ellie Kemper', 'Hannah Simone',\
           'Jane Krakowski', 'Carol Kane', 'Isabella Gomez', 'Rita Moreno',\
           'Jake Johnson', 'Todd Grinnell', 'Tituss Burgess', 'Max Greenfield'])

shows = np.array(['New Girl', 'One Day at a Time', 'Unbreakable Kimmy Schmidt', 'New Girl',\
         'Unbreakable Kimmy Schmidt', 'Unbreakable Kimmy Schmidt', 'One Day at a Time', 'One Day at a Time',\
         'New Girl', 'One Day at a Time', 'Unbreakable Kimmy Schmidt', 'New Girl'])

In [5]:
#Boolean indexing for show "New Girl" 

print("Boolean indexing for the show New Girl: \n\n", shows == 'New Girl')

Boolean indexing for the show New Girl:

 [ True False False  True False False False False  True False False  True]

In [6]:
#Getting the artists that play a part in the show New Girl

selected_show = artists[shows == 'New Girl']

print("Name of the actors who play in the show New Girl: \n\n", selected_show)

Name of the actors who play in the show New Girl:

 ['Zooey Claire Deschanel' 'Hannah Simone' 'Jake Johnson' 'Max Greenfield']

In [7]:
#Storing the three arrays to disk

np.savez('TVShows_arrays.npz', arr1 = artists , arr2 = shows, arr3 = selected_show)

In [8]:
#Loading the arrays from disk
Load = np.load('TVShows_arrays.npz')

artists_new = Load['arr1']
shows_new = Load['arr2']
selected_show_new = Load['arr3']

In [9]:
print("Original artists array: \n", artists)
print("\nLoaded artists array: \n", artists_new)

print("\nOriginal shows array: \n", shows)
print("\nLoaded shows array: \n", shows_new)

print("\nOriginal selected_show array: \n", selected_show)
print("\nLoaded selected_show array: \n", selected_show_new)

Original artists array:
 ['Zooey Claire Deschanel' 'Justina Machado' 'Ellie Kemper' 'Hannah Simone'
 'Jane Krakowski' 'Carol Kane' 'Isabella Gomez' 'Rita Moreno'
 'Jake Johnson' 'Todd Grinnell' 'Tituss Burgess' 'Max Greenfield']

Loaded artists array:
 ['Zooey Claire Deschanel' 'Justina Machado' 'Ellie Kemper' 'Hannah Simone'
 'Jane Krakowski' 'Carol Kane' 'Isabella Gomez' 'Rita Moreno'
 'Jake Johnson' 'Todd Grinnell' 'Tituss Burgess' 'Max Greenfield']

Original shows array:
 ['New Girl' 'One Day at a Time' 'Unbreakable Kimmy Schmidt' 'New Girl'
 'Unbreakable Kimmy Schmidt' 'Unbreakable Kimmy Schmidt'
 'One Day at a Time' 'One Day at a Time' 'New Girl' 'One Day at a Time'
 'Unbreakable Kimmy Schmidt' 'New Girl']

Loaded shows array:
 ['New Girl' 'One Day at a Time' 'Unbreakable Kimmy Schmidt' 'New Girl'
 'Unbreakable Kimmy Schmidt' 'Unbreakable Kimmy Schmidt'
 'One Day at a Time' 'One Day at a Time' 'New Girl' 'One Day at a Time'
 'Unbreakable Kimmy Schmidt' 'New Girl']

Original selected_show array:
 ['Zooey Claire Deschanel' 'Hannah Simone' 'Jake Johnson' 'Max Greenfield']

Loaded selected_show array:
 ['Zooey Claire Deschanel' 'Hannah Simone' 'Jake Johnson' 'Max Greenfield']

# Pandas Basics:
## Create a Series object as follows:

1. The Series object contains at least 7 car models with the index being car brands like 'BMW' , e.g. data being X3 and the index is BMW.
2. Use boolean filtering to filter cars containing the letter 'a'
3. Rename the index column to "manufacturer"

## Create a DataFrame as follows:

1. The DataFrame columns are "sport" (string), "number_of_players" (integer), "ball_game" (boolean) and  "popularity" (one of the values for 'high', 'medium' or 'low'), and the DataFrame contains at least 7 rows. 
2. Add a new column to the DataFrame called "Best Player" and show that all the values for the column are NaN after adding the column 
3. Set all of the values for "Best Player" column to "TBD" short for to be determined. 
4. Use slicing properly to extract "number_of_players" and "sport" for 3 rows.
5. Write a function called "average_calculator" and use the apply() mtehod to average the number_of_players row. (do not use the built-in mean functions for this part)
6. Try to sort the DataFrame by sport names. 
7. Find both the index and name of the sport with maximum amount of players. 
8. Save the DataFrame to disk as a CSV file. 
9. Reload the saved CSV in a new variable.

In [10]:
import pandas as pd

In [11]:
Cars = pd.Series(['Taycan 4S', 'Bentayga', 'Equinox', 'Fusion', 'Elantra', 'CX-30', 'Golf', 'Civic'],\
                 index = ['Porsche','Bentley', 'Chevrolet', 'Ford', 'Hyundai', 'Mazda', 'Volkswagen', 'Honda'])

print(Cars)

Porsche       Taycan 4S
Bentley        Bentayga
Chevrolet       Equinox
Ford             Fusion
Hyundai         Elantra
Mazda             CX-30
Volkswagen         Golf
Honda             Civic
dtype: object

In [12]:
#Help taken from: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html

print("Printing the Boolean filtering for Cars with character 'a' in them. \n")

Cars.str.contains('a', regex=False)

Printing the Boolean filtering for Cars with character 'a' in them.

Porsche        True
Bentley        True
Chevrolet     False
Ford          False
Hyundai        True
Mazda         False
Volkswagen    False
Honda         False
dtype: bool

In [13]:
#Renaming the index column
Cars.index.name = 'Manufacturer'
print(Cars)

Manufacturer
Porsche       Taycan 4S
Bentley        Bentayga
Chevrolet       Equinox
Ford             Fusion
Hyundai         Elantra
Mazda             CX-30
Volkswagen         Golf
Honda             Civic
dtype: object

In [14]:
#Pandas dataframes are very similar to dictionaries
#First define the dictionary

Data = {"Sport" : ['Badminton', 'Basketball', 'Cricket', 'Football', 'Hockey', 'Lawn Tennis', 'Chess', 'Table Tennis'],\
      "Number_of_players" : [2, 5, 11, 11, 11, 2, 2, 3],\
      "Ball_game" : [False, True, True, True, True, True, False, True],\
      "Popularity" : ['high', 'high', 'high', 'high', 'medium', 'medium', 'medium', 'low']}

In [15]:
df = pd.DataFrame(Data, columns = ['Sport', 'Number_of_players', 'Ball_game', 'Popularity'])
print(df)

          Sport  Number_of_players  Ball_game Popularity
0     Badminton                  2      False       high
1    Basketball                  5       True       high
2       Cricket                 11       True       high
3      Football                 11       True       high
4        Hockey                 11       True     medium
5   Lawn Tennis                  2       True     medium
6         Chess                  2      False     medium
7  Table Tennis                  3       True        low

In [16]:
#Adding new column to the dataframe
new_df = pd.DataFrame(df, columns = ['Sport', 'Number_of_players', 'Ball_game', 'Popularity', 'Best Player'])

In [17]:
#Showing that the values of new column are by default Nan
print(new_df)

          Sport  Number_of_players  Ball_game Popularity  Best Player
0     Badminton                  2      False       high          NaN
1    Basketball                  5       True       high          NaN
2       Cricket                 11       True       high          NaN
3      Football                 11       True       high          NaN
4        Hockey                 11       True     medium          NaN
5   Lawn Tennis                  2       True     medium          NaN
6         Chess                  2      False     medium          NaN
7  Table Tennis                  3       True        low          NaN

In [18]:
#Setting all the best players values to To be Determined(TBD)
new_df['Best Player'] = 'TBD'
print(new_df)

          Sport  Number_of_players  Ball_game Popularity Best Player
0     Badminton                  2      False       high         TBD
1    Basketball                  5       True       high         TBD
2       Cricket                 11       True       high         TBD
3      Football                 11       True       high         TBD
4        Hockey                 11       True     medium         TBD
5   Lawn Tennis                  2       True     medium         TBD
6         Chess                  2      False     medium         TBD
7  Table Tennis                  3       True        low         TBD

In [19]:
print("Printing first three rows of Sport columns and Number of Players column \n")
print(new_df[['Sport','Number_of_players']][:3])

Printing first three rows of Sport columns and Number of Players column

        Sport  Number_of_players
0   Badminton                  2
1  Basketball                  5
2     Cricket                 11

In [20]:
#Defining a function to calculate average 
def average_calculator(a):
    return sum(a) / len(a)

In [21]:
#Finding the average number of players
print("Printing the average number of players \n")
new_df[['Number_of_players']].apply(average_calculator, axis = 'rows')

Printing the average number of players

Number_of_players    5.875
dtype: float64

In [22]:
#Sorting the dataframe by sport names
print("Printing the sorted dataframe by Sport value \n")
sort = new_df.sort_values(by = 'Sport')
print(sort)

Printing the sorted dataframe by Sport value

          Sport  Number_of_players  Ball_game Popularity Best Player
0     Badminton                  2      False       high         TBD
1    Basketball                  5       True       high         TBD
6         Chess                  2      False     medium         TBD
2       Cricket                 11       True       high         TBD
3      Football                 11       True       high         TBD
4        Hockey                 11       True     medium         TBD
5   Lawn Tennis                  2       True     medium         TBD
7  Table Tennis                  3       True        low         TBD

In [23]:
print("Printing the dataframe row(s) with maximum number of players value \n")
print(new_df[new_df['Number_of_players'] == df['Number_of_players'].max()])

Printing the dataframe row(s) with maximum number of players value

      Sport  Number_of_players  Ball_game Popularity Best Player
2   Cricket                 11       True       high         TBD
3  Football                 11       True       high         TBD
4    Hockey                 11       True     medium         TBD

In [24]:
print("Printing only the index and Sport columns for the row(s) with maximum number of players \n")
print(new_df[new_df['Number_of_players'] == df['Number_of_players'].max()]['Sport'])

Printing only the index and Sport columns for the row(s) with maximum number of players

2     Cricket
3    Football
4      Hockey
Name: Sport, dtype: object

In [25]:
#Saving Data Frame to disk
new_df.to_csv('Sports.csv')

In [26]:
#Loading data frame from disk
Loaded_df = pd.read_csv('Sports.csv')

In [27]:
print("Original Data Frame: \n", new_df)
print("\nLoaded Data Frame: \n", Loaded_df)

Original Data Frame:
           Sport  Number_of_players  Ball_game Popularity Best Player
0     Badminton                  2      False       high         TBD
1    Basketball                  5       True       high         TBD
2       Cricket                 11       True       high         TBD
3      Football                 11       True       high         TBD
4        Hockey                 11       True     medium         TBD
5   Lawn Tennis                  2       True     medium         TBD
6         Chess                  2      False     medium         TBD
7  Table Tennis                  3       True        low         TBD

Loaded Data Frame:
    Unnamed: 0         Sport  Number_of_players  Ball_game Popularity  \
0           0     Badminton                  2      False       high
1           1    Basketball                  5       True       high
2           2       Cricket                 11       True       high
3           3      Football                 11       True       high
4           4        Hockey                 11       True     medium
5           5   Lawn Tennis                  2       True     medium
6           6         Chess                  2      False     medium
7           7  Table Tennis                  3       True        low

  Best Player
0         TBD
1         TBD
2         TBD
3         TBD
4         TBD
5         TBD
6         TBD
7         TBD

# Loaded csv file has double indexing because it saved the index as a seperate coloumn